<% function content (buf) { %>
<section id="wrapper"><% for (var i = 0; i < 4; i++) { %>
<section class="box">
<% for (var j = 0; j < 30; j++) { %>
<p>これはサンプルです。</p><% } %>
<!-- /.box --></section><% } %>
<!-- /#wrapper --></section>
<% } %><% include layouts/default %>
